// src/css/app.scss
@import 'quasar.variables.scss';

// src/css/app.scss

:root {
    --background-light: url('/src/assets/test.jpg'); // Chemin pour le mode clair
    --background-dark: url('/src/assets/dark.jpg'); // Chemin pour le mode sombre
    --text-color-light: #000; // Texte pour le mode clair
    --text-color-dark: #e0e0e0; // Texte pour le mode sombre
    // Autres variables...
  }
  
  body {
    background-image: var(--background-image);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: var(--text-color);
    transition: background-image 0.5s ease-in-out, color 0.5s ease-in-out; // Transition douce pour le changement d'image et de couleur
  }
  
  [data-theme='dark'] {
    --background-image: var(--background-dark);
    --text-color: var(--text-color-dark);
  }
  
  [data-theme='light'], :root {
    --background-image: var(--background-light);
    --text-color: var(--text-color-light);
  }
  

.q-btn {
  border-radius: var(--btn-border-radius);
  box-shadow: var(--btn-box-shadow);
}

.q-list, .q-card, .q-toolbar {
  border-radius: var(--btn-border-radius);
  box-shadow: var(--btn-box-shadow);
}

.q-header {
  background-color: var(--header-background-color);
  color: #ffffff;
}

.q-avatar {
  border-radius: var(--avatar-border-radius);
}

.q-badge {
  border-radius: var(--badge-border-radius);
  box-shadow: var(--badge-box-shadow);
}
